{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "react-native-worklets/plugin",
      {
        "bundleMode": false,
        "strictGlobal": true,
        "workletizableModules": ["remend"]
      }
    ]
  ]
}
